@font-face {
  font-family: 'Lato';
  src: url("../fonts/latoregular.woff") format("woff");
  src: url("../fonts/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/latomedium.woff") format("woff");
  src: url("../fonts/latomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/latobold.woff") format("woff");
  src: url("../fonts/latobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.woff") format("woff");
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff");
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.button-main {
  display: inline-block;
  width: 290px;
  height: 49px;
  background: #0a0a0a;
  text-align: center;
  padding: 13px 59px 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .button-main {
    font-weight: 500;
    padding: 14px 59px 15px;
  }
}

@media screen and (max-width: 768px) {
  .button-main {
    max-width: 440px;
    width: 100%;
  }
}

.h2-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  .h2-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.h3-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 20px;
  }
}

.header-geo-bg {
  width: 100%;
  height: 40px;
  background: #f0f0f0;
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header-geo-bg {
    display: none;
  }
}

.header-geo__city {
  padding: 0px 0px 2px;
  border: none;
  border-bottom: 1px solid #0a0a0a;
  margin: 10px 0;
  background: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #0a0a0a;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-geo {
    display: none;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-menu .hamburger {
  display: none;
  width: 24px;
  height: 24px;
  padding: 6px 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
  z-index: 100;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header-menu .hamburger span {
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 5px;
  background-color: #0a0a0a;
  margin-bottom: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header-menu .hamburger_active span {
  margin-bottom: -2px;
}

.header-menu .hamburger_active span:first-child {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.header-menu .hamburger_active span:nth-child(2) {
  display: none;
}

.header-menu .hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .header-menu .hamburger {
    display: block;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: -200%;
  background-color: #ffffff;
  z-index: 99;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu__background {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: #9499a5;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mobile-menu__background_active {
  display: inline;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: #9499a5;
  opacity: 0.9;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mobile-menu_active {
  left: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu__nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 25px;
  max-width: 340px;
}

.mobile-menu__nav .main-nav-menu {
  width: 360px;
}

.mobile-menu__nav .main-nav-menu .main-nav-menu__link {
  margin-right: 30px;
}

.mobile-menu__secondary-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 360px;
  height: 80px;
  margin-left: -20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
}

.mobile-menu__secondary-nav .secondary-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.mobile-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 0 0 20px;
}

.mobile-menu__content .mobile-menu__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 296px;
  margin-bottom: 24px;
  padding-left: 170px;
}

.mobile-menu__content .mobile-menu__geo-txt {
  display: block;
  margin: 0;
  margin-right: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9499a5;
}

.mobile-menu__content .mobile-menu__geo .header-geo__city {
  width: 53px;
  height: 18px;
  padding: 0px 0px 2px;
  border: none;
  border-bottom: 1px solid #9499a5;
  margin: 0;
  background: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9499a5;
  cursor: pointer;
}

.mobile-menu__content a.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  height: 80px;
  margin-left: -20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
}

.mobile-menu__content a.mobile-menu__item:hover {
  font-weight: 700;
}

.mobile-menu__item-brands {
  background-image: url(../img/mobile-menu/bg-brands.png);
}

.mobile-menu__item-new {
  background-image: url(../img/mobile-menu/bg-new.png);
}

.mobile-menu__item-cross {
  background-image: url(../img/mobile-menu/bg-cross.png);
}

.mobile-menu__item-sneakers {
  background-image: url(../img/mobile-menu/bg-sneakers.png);
}

.mobile-menu__item-boots {
  background-image: url(../img/mobile-menu/bg-boots.png);
}

.mobile-menu__item-sale {
  background-image: url(../img/mobile-menu/bg-sale.png);
}

.header__logo-link {
  display: block;
  width: 120px;
  height: 25px;
  margin-top: 10px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.header-content__user-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header-content__user-elements .main-phone {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
  position: relative;
}

.header-content__user-elements .main-phone::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0a0a0a;
}

.header-content__user-elements .main-phone:hover::before {
  width: 100%;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}

@media screen and (max-width: 768px) {
  .header-content__user-elements .main-phone {
    display: none;
  }
}

.header-content__user-elements .header-icons {
  width: 156px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content__user-elements .header-icons {
    position: absolute;
    top: 0;
    right: 20px;
    width: 112px;
  }
  .header-content__user-elements .header-icons a:nth-child(2) {
    display: none;
  }
}

.main-nav-menu .main-nav-menu__link.main-nav-menu__link-active {
  font-weight: 700;
}

.main-nav-menu .main-nav-menu__link.main-nav-menu__link-active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0a0a0a;
}

.main-nav-menu .main-nav-menu__link {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
  margin-right: 40px;
}

.main-nav-menu .main-nav-menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0a0a0a;
}

.main-nav-menu .main-nav-menu__link:hover::before {
  width: 100%;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}

@media screen and (max-width: 1000px) {
  .main-nav-menu .main-nav-menu__link {
    margin-right: 30px;
  }
}

.main-nav-menu a:last-of-type {
  margin-right: 0px;
}

.secondary-nav-menu {
  margin-top: 14px;
}

.secondary-nav-menu__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
  margin-right: 40px;
}

.secondary-nav-menu__link_highlighted {
  color: #f04438;
}

.secondary-nav-menu__link_highlighted:hover {
  color: #a20e04 !important;
}

.secondary-nav-menu__link:hover {
  color: #9499a5;
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu__link {
    margin-right: 30px;
  }
}

.secondary-nav-menu a:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .secondary-nav-menu {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu a:nth-child(3) {
    display: none;
  }
  .secondary-nav-menu a:nth-child(4) {
    display: none;
  }
  .secondary-nav-menu a:nth-child(7) {
    display: none;
  }
}

.secondary-nav-menu_mobile a:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu_mobile a:nth-child(3) {
    display: inline;
  }
}

.main.container {
  margin-top: 60px;
}

@media screen and (max-width: 1000px) {
  .main.container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .main.container {
    margin-top: 20px;
  }
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .main-slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-slider__header {
  max-width: 495px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #0a0a0a;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .main-slider__header {
    max-width: 374px;
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__header {
    max-width: 440px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
  }
}

.main-slider__text {
  max-width: 495px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #0a0a0a;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .main-slider__text {
    max-width: 374px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__text {
    max-width: 440px;
    font-size: 15px;
    margin-top: 20px;
  }
}

.main-slider__img-item_middle {
  max-width: 359px;
  height: 280px;
  background: url(../img/main-banner/img-1.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_middle {
    max-width: 535px;
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_middle {
    max-width: 440px;
    height: 280px;
  }
}

.main-slider__img-item_small {
  max-width: 359px;
  height: 200px;
  background: url(../img/main-banner/img-2.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_small {
    max-width: 535px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_small {
    max-width: 333px;
    height: 200px;
  }
}

.main-slider__img-item_long {
  max-width: 322px;
  height: 500px;
  background: url(../img/main-banner/img.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_long {
    display: block;
  }
}

.main-slider__img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
      grid-template-areas: "middle long" "small long";
  max-width: 701px;
  width: 100%;
  max-height: 500px;
  margin-left: 20px;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-grid {
    -ms-grid-columns: 535px;
        grid-template-columns: 535px;
    -ms-grid-rows: 280px 200px;
        grid-template-rows: 280px 200px;
    max-width: 535px;
    max-height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .main-slider__img-grid {
    -ms-grid-columns: 333px;
        grid-template-columns: 333px;
    -ms-grid-rows: 280px 200px;
        grid-template-rows: 280px 200px;
    max-width: 333px;
    max-height: 500px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-grid {
    display: block;
    max-width: 440px;
    max-height: 280px;
    margin-left: 0;
  }
}

.main-slider__img-item_middle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: middle;
}

.main-slider__img-item_long {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: long;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_long {
    display: none;
  }
}

.main-slider__img-item_small {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: small;
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_small {
    display: none;
  }
}

.main-slider .slick-arrow {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
}

.main-slider .slick-prev {
  left: -86px;
}

@media screen and (max-width: 1388px) {
  .main-slider .slick-prev {
    left: -57px;
  }
}

.main-slider .slick-next {
  right: -86px;
}

@media screen and (max-width: 1388px) {
  .main-slider .slick-next {
    right: -57px;
  }
}

.main-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 482px;
}

@media screen and (max-width: 768px) {
  .main-slider .slick-dots {
    top: 542px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 408px) {
  .main-slider .slick-dots {
    top: 562px;
  }
}

.main-slider .slick-dots li {
  font-size: 0;
  list-style: none;
  width: 16px;
  height: 16px;
  background: #f0f0f0;
  margin-right: 10px;
  cursor: pointer;
}

.main-slider .slick-dots li button {
  display: none;
}

.main-slider .slick-dots .slick-active {
  background: #0a0a0a;
}

.main-slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  margin-top: 100px;
  background: url(../img/cta-bg-1.png) center center/cover no-repeat;
}

.cta-landing .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cta-landing .container .cta-landing__content {
  max-width: 489px;
}

.cta-landing .container .cta-landing__title {
  margin-bottom: 10px;
}

.cta-landing .container .cta-landing__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
  margin-bottom: 30px;
}

@media screen and (max-width: 1290px) {
  .popular-landing-slider__wrapper .slick-list {
    overflow: visible;
  }
}

.popular-landing-slider__wrapper .slick-arrow {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
}

.popular-landing-slider__wrapper .slick-prev {
  left: -86px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1388px) {
  .popular-landing-slider__wrapper .slick-prev {
    left: -57px;
  }
}

.popular-landing-slider__wrapper .slick-next {
  right: -86px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1388px) {
  .popular-landing-slider__wrapper .slick-next {
    right: -57px;
  }
}

.popular-landing-slider__wrapper .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 364px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 408px) {
  .popular-landing-slider__wrapper .slick-dots {
    top: 562px;
  }
}

.popular-landing-slider__wrapper .slick-dots li {
  font-size: 0;
  list-style: none;
  width: 16px;
  height: 16px;
  background: #f0f0f0;
  margin-right: 10px;
  cursor: pointer;
}

.popular-landing-slider__wrapper .slick-dots li button {
  display: none;
}

.popular-landing-slider__wrapper .slick-dots .slick-active {
  background: #0a0a0a;
}

.popular-landing-slider__wrapper .slick-slide {
  margin-left: 20px;
}

@media screen and (max-width: 1290px) {
  .popular-landing-slider__wrapper .slick-slide {
    width: 225px;
  }
}

.product-card,
.product-card_sale {
  width: 289px;
  height: 334px;
  cursor: pointer;
}

@media screen and (max-width: 1290px) {
  .product-card,
  .product-card_sale {
    width: 225px;
  }
}

.product-card:hover .product-card__content,
.product-card_sale:hover .product-card__content {
  display: none;
}

.product-card:hover .product-card__size-wrapper,
.product-card_sale:hover .product-card__size-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__img,
.product-card_sale__img {
  height: 250px;
}

@media screen and (max-width: 1290px) {
  .product-card__img,
  .product-card_sale__img {
    height: auto;
    width: 225px;
  }
}

.product-card .product-card__title,
.product-card_sale .product-card__title {
  margin-top: 10px;
}

.product-card__price-wrapper,
.product-card_sale__price-wrapper {
  margin-top: 5px;
}

.product-card__price,
.product-card_sale__price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #0a0a0a;
}

.product-card__price_current,
.product-card_sale__price_current {
  display: inline-block;
}

.product-card__price_new,
.product-card_sale__price_new {
  display: none;
}

.product-card__price_old,
.product-card_sale__price_old {
  display: none;
}

.product-card .product-card__size-wrapper,
.product-card_sale .product-card__size-wrapper {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 5px;
  max-width: 238px;
  margin: 0 auto;
  margin-top: 10px;
}

.product-card .product-card__size-item,
.product-card_sale .product-card__size-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
}

.product-card .product-card__size-item .product-card_empty,
.product-card_sale .product-card__size-item .product-card_empty {
  color: #b6bac4;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.product-card_sale .product-card__size-wrapper {
  display: none;
}

.product-card_sale .product-card__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card_sale .product-card__price-wrapper .product-card__price {
  margin-right: 20px;
}

.product-card_sale .product-card__price-wrapper .product-card__price:last-child {
  margin-right: 0px;
}

.product-card_sale .product-card__price_current {
  display: none;
}

.product-card_sale .product-card__price_new {
  display: inline-block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #f04438;
}

.product-card_sale .product-card__price_old {
  display: inline-block;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(192, 195, 200, 0.55);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.modal_show {
  display: block;
}

.modal-geo {
  display: none;
  width: 900px;
  height: 600px;
  margin: 40px auto;
  background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .modal-geo {
    max-width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .modal-geo {
    max-width: 320px;
    height: 80vh;
  }
}

.modal-geo_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-geo__img {
  width: 350px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .modal-geo__img {
    display: none;
  }
}

.modal-geo__img_parallax {
  position: absolute;
  background-image: url("../img/modal/modal-geo/modal-geo-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130%;
  height: 110%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.modal-geo__content {
  position: relative;
  width: 550px;
  height: 100%;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .modal-geo__content {
    padding: 20px;
  }
}

.modal-geo__close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-geo__close-icon:hover path {
  fill: #9499a5;
}

.modal-geo__input {
  width: 100%;
  margin-top: 30px;
  padding: 13px 20px 16px 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  background: #F0F0F0;
  border: none;
}

.modal-geo__input:focus-visible {
  outline: 0;
  outline-offset: 0;
}

.modal-geo__input::-webkit-input-placeholder {
  color: #9499a5;
}

.modal-geo__input:-ms-input-placeholder {
  color: #9499a5;
}

.modal-geo__input::-ms-input-placeholder {
  color: #9499a5;
}

.modal-geo__input::placeholder {
  color: #9499a5;
}

.modal-geo__cities {
  max-height: 300px;
  overflow-y: scroll;
}

.modal-geo__cities-list {
  margin-top: 30px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 10px 40px;
}

@media screen and (max-width: 768px) {
  .modal-geo__cities-list {
    max-width: 320px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.modal-geo__cities-list-item {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0a0a0a;
  cursor: pointer;
}

.modal-geo__cities-list-item:hover {
  color: #9499a5;
}

@media screen and (max-width: 768px) {
  .modal-geo__cities-list-item {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}
/*# sourceMappingURL=style.css.map */