@font-face {
  font-family: 'Lato';
  src: url("../fonts/latoregular.woff") format("woff");
  src: url("../fonts/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/latomedium.woff") format("woff");
  src: url("../fonts/latomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/latobold.woff") format("woff");
  src: url("../fonts/latobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.woff") format("woff");
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff");
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

.button-main {
  display: inline-block;
  width: 290px;
  height: 49px;
  background: #0A0A0A;
  text-align: center;
  padding: 13px 59px 16px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .button-main {
    font-weight: 500;
    padding: 14px 59px 15px;
  }
}

@media screen and (max-width: 768px) {
  .button-main {
    max-width: 440px;
    width: 100%;
  }
}

.h2-secondary {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #0A0A0A;
}

@media screen and (max-width: 768px) {
  .h2-secondary {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 20px;
  }
}

.header-geo-bg {
  width: 100%;
  height: 40px;
  background: #F0F0F0;
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header-geo-bg {
    display: none;
  }
}

.header-geo__city {
  padding: 0px 0px 2px;
  border: none;
  border-bottom: 1px solid #0A0A0A;
  margin: 10px 0;
  background: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #0A0A0A;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-geo {
    display: none;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-menu .hamburger {
  display: none;
  width: 24px;
  height: 24px;
  padding: 6px 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
  z-index: 100;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header-menu .hamburger span {
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 5px;
  background-color: #0A0A0A;
  margin-bottom: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header-menu .hamburger_active span {
  margin-bottom: -2px;
}

.header-menu .hamburger_active span:first-child {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.header-menu .hamburger_active span:nth-child(2) {
  display: none;
}

.header-menu .hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .header-menu .hamburger {
    display: block;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: -200%;
  background-color: white;
  z-index: 99;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu__background {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: #9499A5;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mobile-menu__background_active {
  display: inline;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: #9499A5;
  opacity: 0.9;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.mobile-menu_active {
  left: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu__nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 25px;
  max-width: 340px;
}

.mobile-menu__nav .main-nav-menu {
  width: 360px;
}

.mobile-menu__nav .main-nav-menu .main-nav-menu__link {
  margin-right: 30px;
}

.mobile-menu__secondary-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 360px;
  height: 80px;
  margin-left: -20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F0F0F0;
}

.mobile-menu__secondary-nav .secondary-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.mobile-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 0 0 20px;
}

.mobile-menu__content .mobile-menu__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 296px;
  margin-bottom: 24px;
  padding-left: 170px;
}

.mobile-menu__content .mobile-menu__geo-txt {
  display: block;
  margin: 0;
  margin-right: 3px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9499A5;
}

.mobile-menu__content .mobile-menu__geo .header-geo__city {
  width: 53px;
  height: 18px;
  padding: 0px 0px 2px;
  border: none;
  border-bottom: 1px solid #9499A5;
  margin: 0;
  background: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9499A5;
  cursor: pointer;
}

.mobile-menu__content a.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  height: 80px;
  margin-left: -20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0A0A0A;
}

.mobile-menu__content a.mobile-menu__item:hover {
  font-weight: 700;
}

.mobile-menu__item-brands {
  background-image: url(../img/mobile-menu/bg-brands.png);
}

.mobile-menu__item-new {
  background-image: url(../img/mobile-menu/bg-new.png);
}

.mobile-menu__item-cross {
  background-image: url(../img/mobile-menu/bg-cross.png);
}

.mobile-menu__item-sneakers {
  background-image: url(../img/mobile-menu/bg-sneakers.png);
}

.mobile-menu__item-boots {
  background-image: url(../img/mobile-menu/bg-boots.png);
}

.mobile-menu__item-sale {
  background-image: url(../img/mobile-menu/bg-sale.png);
}

.header__logo-link {
  display: block;
  width: 120px;
  height: 25px;
  margin-top: 10px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.header-content__user-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header-content__user-elements .main-phone {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #0A0A0A;
  position: relative;
}

.header-content__user-elements .main-phone::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0A0A0A;
}

.header-content__user-elements .main-phone:hover::before {
  width: 100%;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}

@media screen and (max-width: 768px) {
  .header-content__user-elements .main-phone {
    display: none;
  }
}

.header-content__user-elements .header-icons {
  width: 156px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content__user-elements .header-icons {
    position: absolute;
    top: 0;
    right: 20px;
    width: 112px;
  }
  .header-content__user-elements .header-icons a:nth-child(2) {
    display: none;
  }
}

.main-nav-menu .main-nav-menu__link.main-nav-menu__link-active {
  font-weight: 700;
}

.main-nav-menu .main-nav-menu__link.main-nav-menu__link-active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0A0A0A;
}

.main-nav-menu .main-nav-menu__link {
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0A0A0A;
  margin-right: 40px;
}

.main-nav-menu .main-nav-menu__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #0A0A0A;
}

.main-nav-menu .main-nav-menu__link:hover::before {
  width: 100%;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}

@media screen and (max-width: 1000px) {
  .main-nav-menu .main-nav-menu__link {
    margin-right: 30px;
  }
}

.main-nav-menu a:last-of-type {
  margin-right: 0px;
}

.secondary-nav-menu {
  margin-top: 14px;
}

.secondary-nav-menu__link {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0A0A0A;
  margin-right: 40px;
}

.secondary-nav-menu__link:hover {
  color: #F04438;
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu__link {
    margin-right: 30px;
  }
}

.secondary-nav-menu a:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .secondary-nav-menu {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu a:nth-child(3) {
    display: none;
  }
  .secondary-nav-menu a:nth-child(4) {
    display: none;
  }
  .secondary-nav-menu a:nth-child(7) {
    display: none;
  }
}

.secondary-nav-menu_mobile a:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 1000px) {
  .secondary-nav-menu_mobile a:nth-child(3) {
    display: inline;
  }
}

.main.container {
  margin-top: 60px;
}

@media screen and (max-width: 1000px) {
  .main.container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .main.container {
    margin-top: 20px;
  }
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .main-slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-slider__header {
  max-width: 495px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #0A0A0A;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .main-slider__header {
    max-width: 374px;
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__header {
    max-width: 440px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
  }
}

.main-slider__text {
  max-width: 495px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #0A0A0A;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .main-slider__text {
    max-width: 374px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__text {
    max-width: 440px;
    font-size: 15px;
    margin-top: 20px;
  }
}

.main-slider__img-item_middle {
  max-width: 359px;
  height: 280px;
  background: url(../img/main-banner/img-1.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_middle {
    max-width: 535px;
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_middle {
    max-width: 440px;
    height: 280px;
  }
}

.main-slider__img-item_small {
  max-width: 359px;
  height: 200px;
  background: url(../img/main-banner/img-2.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_small {
    max-width: 535px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_small {
    max-width: 333px;
    height: 200px;
  }
}

.main-slider__img-item_long {
  max-width: 322px;
  height: 500px;
  background: url(../img/main-banner/img.png) center center/cover no-repeat;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_long {
    display: block;
  }
}

.main-slider__img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
      grid-template-areas: "middle long" "small long";
  max-width: 701px;
  width: 100%;
  max-height: 500px;
  margin-left: 20px;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-grid {
    -ms-grid-columns: 535px;
        grid-template-columns: 535px;
    -ms-grid-rows: 280px 200px;
        grid-template-rows: 280px 200px;
    max-width: 535px;
    max-height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .main-slider__img-grid {
    -ms-grid-columns: 333px;
        grid-template-columns: 333px;
    -ms-grid-rows: 280px 200px;
        grid-template-rows: 280px 200px;
    max-width: 333px;
    max-height: 500px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__img-grid {
    display: block;
    max-width: 440px;
    max-height: 280px;
    margin-left: 0;
  }
}

.main-slider__img-item_middle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: middle;
}

.main-slider__img-item_long {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: long;
}

@media screen and (max-width: 1290px) {
  .main-slider__img-item_long {
    display: none;
  }
}

.main-slider__img-item_small {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: small;
}

@media screen and (max-width: 768px) {
  .main-slider__img-item_small {
    display: none;
  }
}

.main-slider .slick-arrow {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
}

.main-slider .slick-prev {
  left: -86px;
}

@media screen and (max-width: 1388px) {
  .main-slider .slick-prev {
    left: -57px;
  }
}

.main-slider .slick-next {
  right: -86px;
}

@media screen and (max-width: 1388px) {
  .main-slider .slick-next {
    right: -57px;
  }
}

.main-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 482px;
}

@media screen and (max-width: 768px) {
  .main-slider .slick-dots {
    top: 542px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 408px) {
  .main-slider .slick-dots {
    top: 562px;
  }
}

.main-slider .slick-dots li {
  font-size: 0;
  list-style: none;
  width: 16px;
  height: 16px;
  background: #F0F0F0;
  margin-right: 10px;
  cursor: pointer;
}

.main-slider .slick-dots li button {
  display: none;
}

.main-slider .slick-dots .slick-active {
  background: #0A0A0A;
}

.main-slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  margin-top: 100px;
  background: url(/img/cta-bg-1.png) center center/cover no-repeat;
}

.cta-landing .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cta-landing .container .cta-landing__content {
  max-width: 489px;
}

.cta-landing .container .cta-landing__header {
  margin-bottom: 10px;
}

.cta-landing .container .cta-landing__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0A0A0A;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */