@import "design/colors";
@import "design/fonts";
@import "design/mixins-media";
@import "design/buttons";
@import "design/typography";
@import "main-landing/header";
@import "main-landing/main";
@import "main-landing/cta-landing";
@import "main-landing/popular-landing-slider";
@import "main-landing/landing-legend-collection";
@import "main-landing/news-form-landing";
@import "general-elements/product-card";
@import "general-elements/modal";

// body, html {
// 	overflow-x: hidden;
// }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1256px;
	// max-width: 1216px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	text-decoration: none;
	color: $color-black;
}
