.cta-landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 400px;
	margin-top: 100px;
	position: relative;
	

	&__img {
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;
		background: url(../img/cta-bg-1.png) center center/cover no-repeat;

		@include tablet {
			position: relative;
			z-index: auto;
			min-height: 280px;
			max-width: 442px;
			margin-bottom: 10px;
			background-position-x: -176px;
		}
	}

	.container {
		width: 100%;
		display: flex;
		justify-content: end;

		@include tablet {
			justify-content: center;
		}

		.cta-landing__content {
			max-width: 489px;

			@include tablet {
				max-width: 440px;
			}
		}

		.cta-landing__title {
			margin-bottom: 10px;
		}

		.cta-landing__text {
			font-family: "Lato";
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 20px;
			color: $color-black;
			margin-bottom: 30px;
		}
	}
}
