.legend-collection {
	min-height: 698px;
	background: #f0f0f0;
	padding: 100px 0px;

	.h2-title {
		margin-bottom: 30px;
		text-align: center;
	}

	&-card {
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 392px;
		height: 200px;
		position: relative;
		background-color: $color-white;

		&_long {
			height: 280px;

			@include laptop {
				height: 200px;
			}

			@include mobile {
				height: 180px;
			}

			.legend-collection-card__img {
				height: 56%;
				margin-bottom: 20px;

				@include pc {
					height: 45%;
				}

				@include laptop {
					height: 84px;
					margin-bottom: 0px;
				}

				@include mobile {
					height: 58px;
					margin-bottom: 20px;
				}
			}
		}

		@include pc {
			width: 305px;
		}

		@include laptop {
			width: 229px;
		}

		@include tablet {
			width: 210px;
		}

		@include mobile {
			width: 150px;
			height: 180px;
		}

		&__title {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 800;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			color: #0a0a0a;

			@include mobile {
				font-size: 19px;
				line-height: 22px;
			}
		}

		&__img {
			// width: 245px;
			height: 120px;

			@include laptop {
				height: 84px;
			}

			@include mobile {
				height: 58px;
				margin-bottom: 20px;
			}
		}
	}

	&-wrapper {
		display: flex;
		justify-content: center;
		gap: 20px;
		width: 100%;

		@include tablet {
			flex-wrap: wrap;
		}

		&__col {
			display: flex;
			flex-direction: column;
			gap: 20px;

			@include tablet {
				&:nth-child(3) {
					flex-direction: row;
				}
			}
		}
	}
}
