.button-main {
    display: inline-block;
    width: 290px;
    height: 49px;
    background: #0A0A0A;
    text-align: center;
    padding: 13px 59px 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;

    @include laptop {
        font-weight: 500;
        padding: 14px 59px 15px;
    }

    @include tablet {
        max-width: 440px;
        width: 100%;
    }
}