@font-face {
    font-family: 'Lato';
    src: url("/fonts/latoregular.woff") format("woff");
    src: url("/fonts/latoregular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/latobold.woff") format("woff");
    src: url("/fonts/latobold.woff") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url("/fonts/Raleway-Regular.woff") format("woff");
    src: url("/fonts/Raleway-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url("/fonts/Raleway-Bold.woff") format("woff");
    src: url("/fonts/Raleway-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url("/fonts/Raleway-ExtraBold.woff") format("woff");
    src: url("/fonts/Raleway-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}