.cta-landing {
    display: flex;
    align-items: center;
    min-height: 400px;
    margin-top: 100px;
    background: url(/img/cta-bg-1.png) center center/cover no-repeat;

    .container {
        width: 100%;
        display: flex;
        justify-content: end;

        .cta-landing__content {
            max-width: 489px;
        }

        .cta-landing__header {
            margin-bottom: 10px;
        }

        .cta-landing__text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            color: #0A0A0A;

            margin-bottom: 30px;
        }
    }
}